<a href="https://colab.research.google.com/github/sivaparvathi620/K-hub-Tasks-2025/blob/main/Copy_of_Khub_Task(python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#This is a single line comments in python

In [ ]:
"""This is a
multi
line
comment in python"""

'This is a\nmulti\nline \ncomment in python'

In [ ]:
'''this
is
 also multi
 line comment'''

'this \nis\n also multi \n line comment'

In [ ]:
#Python version
import sys
print(sys.version)

3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]

In [ ]:
#Basic python code Syntax
print("Hello World!")

Hello World!

In [ ]:
#Python Indentation
if 5>3:
  print("Five is a grater than 3")

Five is a grater than 3

In [ ]:
#Python Indentation
if 5>3:
  print("Three less five")

Three less five

In [ ]:
#Python Variables
X=5
Y=10
print(X,Y)
print(X)
print(Y)

5 10
5
10

In [ ]:
#get the variable type
X="Vijju"
Y=10
Z=3.5
print(type(Z))
print(type(X))
print(type(Y))

<class 'float'>
<class 'str'>
<class 'int'>

In [ ]:
#creating variables
A=str(3)
B=float(7)
C=int(10)
print(A)
print(B)
print(C)

3
7.0
10

In [ ]:
#Single or Double Quotes
A='SHIV'
print(A)
A="shiv"
print(A)

SHIV
shiv

In [ ]:
#Case senstive
Q="paruuu"
q="paruuu"
print(Q)
print(q)

paruuu
paruuu

In [ ]:
#variable name rules

'''Cannot starts with numbers
starts with alpha numeric and underscore'''

myvar="priyaa"
_myvar=10
MYVAR=2.0
_my_var=True
myvar5=100


print(myvar)
print(_myvar)
print(myvar5)
print(MYVAR)
print(_my_var)

priyaa
10
100
2.0
True

In [ ]:
#Multi Words Variable Names
#camel case
myVariableName = "John"

#Pascal Case
MyVariableName = "John"

#snake case
my_variable_name = "John"

In [ ]:
#Assign multiple values
x,y,z=10,20,30
print(x)
print(y)
print(z)
print(x,y,z)

10
20
30
10 20 30

In [ ]:
#One Value to Multiple Variables
a=b=c="sanjuu"
print(a)
print(c)

sanjuu
sanjuu

In [ ]:
#Unpack a Collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
#output variables
a="python"
b="is very"
c="easy to read"
print(a,b,c)
print(a+b+c)

python is very easy to read
pythonis veryeasy to read

In [ ]:
#Mathematical operator variables

p=16
q=12
print(p+q)
print(p-q)
print(p/q)
print(p*q)
print(p//q)
print(p%q)
print(p**q)
print(p^q)
print(p&q)
print(p<<q)
print(p>>q)

28
4
1.3333333333333333
192
1
4
281474976710656
28
0
65536
0

In [ ]:
#global variables

x="super"

def myfunction():
  print("python is " +x)
myfunction()

python is super

In [ ]:
x="super"
def myfunc():
  x="fantastic"
  print("python is " +x)
myfunc()
print("python is " +x)

python is fantastic
python is super

In [ ]:
#The Global Keyword

def func():
  global x
  x="super"
func()
print("python is "+x)

python is super

In [ ]:
#DATA TYPES

In [ ]:
#data types

a = "Hello World"
b = 20
c = 20.5
d=1j
e=["apple", "banana", "cherry"]
f=("apple", "banana", "cherry")
g=range(6)
h={"name" : "John", "age" : 36}
i={"apple", "banana", "cherry"}
j=frozenset({"apple", "banana", "cherry"})
k=True
l=b"hello"
m=bytearray(5)
n=memoryview(bytes(5))
o=None


print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))
print(type(l))
print(type(m))
print(type(n))
print(type(o))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'NoneType'>

In [ ]:
#Python numbers

x=1
y=2.5
z=1j

#converts from int to float
a=float(x)

#converts from float to int
b=int(y)

#converts from int to complex
c=complex(x)

print(a)
print(b)
print(c)

1.0
2
(1+0j)

In [ ]:
#Random Numbers

import random
print(random.randrange(1,11))

9

In [ ]:
#python casting(integers)
x = int(1)
y = int(4.2)
z = int("3")
print(x)
print(y)
print(z)

1
4
3

In [ ]:
#floats
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [ ]:
#string
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

In [ ]:
#PYTHON STRINGS

In [ ]:
#string are arrays

a="hello world"
print(a[6])

w

In [ ]:
#looping through a string

for x in "123456789": #only use in "x"
  print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
#string length

s="prabhavathi"

print(len(s))

11

In [ ]:
#check string
Txt="The best things in life are free!"
txt="Hey shiv how are you!"
print("free" in txt)
print("free"  in Txt)

False
True

In [ ]:
#slicing string
Name="Heyyy Chottuuuu"
print(Name[1:7]) #starting numbers indicates to start with that no
#ending number indicates before the give number

eyyy C

In [ ]:
#slice from the start

a="amma"
b="nanna"
print(a[:5])

#slice to the end


print(b[4:])

amma
a

In [ ]:
#Negative Indexing
x="Hello, World!"

print(x[-4:-3])#negative indexing starts from last to first in string

r

In [ ]:
#Modify String

In [ ]:
#Upper case letters

a="Siva Parvathi"
print(a.upper())

#Lower Case Letters

b="Sandhya Devi"
print(b.lower())

SIVA PARVATHI
sandhya devi

In [ ]:
#Remove White space(STRIP)

y="Anyanaaa Priyaa "
print(y.strip())

Anyanaaa Priyaa

In [ ]:
#Replace the string

S="sri Pravalliiiikk"
print(S.replace("k","i"))

sri Pravalliiiiii

In [ ]:
#split string

z="anitha hema latha"
y=z.split(",")
print(y)

['anitha hema latha']

In [ ]:
#python string concantation

In [ ]:
#string concantation
#To concatenate, or combine, two strings you can use the + operator

p="siva"
q="parvathi"
r=p+q
s=p+" "+q
print(r)
print(s)

sivaparvathi
siva parvathi

In [ ]:
#Formate strings

In [ ]:
#F-Strings Formate

age=19
txt=f"I'm parvathi,i am {age} old"
print(txt)

I'm parvathi,i am 19 old

In [ ]:
name="priya"
txt=f"my name is {name}"
print(txt)

my name is priya

In [ ]:
price = 60
txt = f"The price is {price:.2f} dollars"
print(txt) #the output prints the two decimal values

The price is 60.00 dollars

In [ ]:
#it solves math operations

txt = f"The price is {55*8} dollars"
print(txt)

The price is 440 dollars

In [ ]:
#Python - Escape Characters

#\'Single Quote
#\\	Backslash
#\n	New Line
#\r	Carriage Return
#\t	Tab
#\b	Backspace
#\f	Form feed
#\ooo	Octal value
#\xhh	Hex value

In [ ]:
#python boolean values

print(10==10)
print(10>9)
print(10<9)
print(10>=9)
print(10<=9)

True
True
False
True
False

In [ ]:
x=200
y=55

if y>x:
  print("y is grater than x")
else:
    print("y is less than x")

y is less than x

In [ ]:
#Evaluate Values and Variables

print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
#the boolean values in empty string the output is "false"


print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [ ]:
def myFunction():   #Function can return a boolean
  return True
print(myFunction())

True

In [ ]:
#Print "YES!" if the function returns True, otherwise print "NO!":

def myFunction():
  return True

if myFunction():
  print("Yes")
else:
  print("No")

Yes

In [ ]:
#the "isinstance()" function, which can be used to determine if an object is of a certain data type:

x=200
print(isinstance(x,int))

True

In [ ]:
#python operators

#Arithmetic operators
#Assignment operators
#Comparison operators
#Logical operators
#Identity operators
#Membership operators
#Bitwise operators

In [ ]:
#Arithmetic operator

a=10
b=20

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

30
-10
200
0.5
10
100000000000000000000
0

In [ ]:
#python lists

In [ ]:
mylist=['apple','banana','orange']
print(mylist)

['apple', 'banana', 'orange']

In [ ]:
#list length
mylist=['apple','banana','orange','grapes','pineapple']
print(len(mylist))

5

In [ ]:
list1=['apple','banana','orange']
list2=[1,2,3,4]
list3=[True,False]
list4=['apple',1,True]

print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'orange']
[1, 2, 3, 4]
[True, False]
['apple', 1, True]

In [ ]:
#A List Can contain different data types

list1=["abc",True,23,"female"]

print(list1)

['abc', True, 23, 'female']

In [ ]:
#Type of list

list1=["abc",True,23,"female"]

print(type(list1))

<class 'list'>

In [ ]:
#The list() Constructor

thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
#python collection arrays there are 4 types
#1.list(ordered,changeable,allow duplicate values)
#2.tuple(ordered,unchangeable,allow duplicate values)
#3.set(unordered,unchangeable,and unindexed no duplicate values)
#4.dictionary(ordered and changeable no duplicate values)

In [ ]:
#Python - Access List Items

In [ ]:
list=['apple','banana','orange','pineapple'] #access iteam
print(list[3])

pineapple

In [ ]:
#negative index

list=['apple','banana','orange','pineapple'] #access iteam
print(list[-3])

banana

In [ ]:
#Range of Indexes

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
#This example returns the items from the beginning to, but NOT including, "kiwi"


thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#This example returns the items from "cherry" to the end:


thislist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Range of Negative Indexes

thislist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
thislist=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist[-6:-2])

['banana', 'cherry', 'orange', 'kiwi']

In [ ]:
#Check if Item Exists
#To determine if a specified item is present in a list use the in keyword:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
#Change Item Value

In [ ]:
list=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

list[3]="grapes"
print(list)

['apple', 'banana', 'cherry', 'grapes', 'kiwi', 'melon', 'mango']

In [ ]:
#Change a Range of Item Values

list=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

list[1:3]=['pineapple','custedapple','greenapple']
print(list)

['apple', 'pineapple', 'custedapple', 'greenapple', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
list=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
list[1:3]=['watermelon']   #change the second and third value by replacing one value
print(list)

['apple', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Insert Items
list=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

list.insert(3,"pineapple")
print(list)

['apple', 'banana', 'cherry', 'pineapple', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
list=list=["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

list.insert(0,"grapes")
print(list)

['grapes', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [1]:
#Expand List

In [2]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [3]:
#Add Any Iterable
#The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [4]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [5]:
#Remove Specified Item
#The remove() method removes the specified item.

In [6]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [7]:
#Remove Specified Index
#The pop() method removes the specified index.

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(2)
print(thislist)

['apple', 'banana']

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [12]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [13]:
#Clear the list

list=["apple","banana","grapes"]
list.clear()
print(list)

[]

In [14]:
#LOOPS LIST IN PYTHON

In [15]:
list=["apple","banana","grapes"]

for x in list:
  print(x)

apple
banana
grapes

In [16]:
#Loop Through the Index Numbers

list=["apple","banana","grapes"]

for i in range(len(list)):
  print(list[i])

apple
banana
grapes